#loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: #000;
  height: 100vh;
  width: 100%;
  z-index: 1;
  -webkit-animation: loader 5s linear;
          animation: loader 5s linear;
  visibility: hidden;
}

#loader .loader-container .loader {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: red;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

#loader .loader-container .loader::before, #loader .loader-container .loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
}

#loader .loader-container .loader::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: orange;
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}

#loader .loader-container .loader::after {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-top-color: grey;
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
}

/* logo ohmyfood*/
.logo {
  background-image: url(../images/logo/ohmyfood.png);
  padding-top: 70px;
  font-family: "Shrikhand", cursive;
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

.text {
  font-weight: bold;
}

.bande-annonce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  padding-top: 20px;
  padding: 2rem;
}

.resultats-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}

.menu {
  padding: 15px;
}

.menu__title {
  font-family: "Shrikhand", cursive;
}

.sousMenus {
  padding-bottom: 5px;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-commande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menuItem {
  background-color: #fff;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: .75rem;
  margin: 1rem 0;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: itemAppear .6s;
          animation: itemAppear .6s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform: scale(0);
          transform: scale(0);
  max-width: 100%;
}

.menuItem__header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menuItem__title {
  margin: 0;
}

.menuItem__description {
  margin: 0;
}

.menuItem__px {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 0.5rem;
}

.menuItem__ok {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.menuItem:hover .menuItem__ok {
  margin-right: -1rem;
}

.menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #ffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #99e2d0;
}

.menuItem:hover .menuItem__wrapIcon {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.choix-resto {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  border-radius: 25px;
  color: black;
  border-radius: 1.25rem;
  background-color: #F6F6F6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #F6F6F6));
  background: linear-gradient(180deg, #F6F6F6 35%);
  -webkit-box-shadow: 2px 3px 8px #5f5858;
          box-shadow: 2px 3px 8px #5f5858;
  cursor: pointer;
}

.annonce {
  margin: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
}

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #EAEAEA;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
}

.resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iconSize {
  width: 50px;
  height: 20px;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F6F6F6;
  padding-top: 30px;
}

.img {
  height: 350px;
  background-size: cover;
}

.restaurants .images {
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
  height: 200px;
  width: 100%;
}

.description-resto {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.description-nom {
  line-height: 0;
}

.fa-utensils {
  margin-right: 10px;
}

.accueil {
  position: absolute;
  left: 1rem;
  height: 2rem;
  width: 2rem;
  top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

.card-item {
  background-color: #99E2D0;
  color: #1b6150;
  padding: .5rem;
  border-radius: .125rem;
  position: absolute;
  margin-top: 1rem;
  right: .50rem;
}

.logo-footer {
  background-image: url(../images/logo/ohmyfood@2x.svg);
  padding-top: 20px;
  font-family: 'Shrikhand';
  line-height: 1.5;
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  margin-left: 20px;
  margin-top: 30px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.liste-footer {
  width: 150%;
  padding-left: 0;
}

.footer-icon {
  width: 1.2rem;
  margin-right: .5rem;
}

.footer-propos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  color: white;
}

.liste-footer {
  list-style-type: none;
  font-family: 'Roboto';
  color: white;
}

.liste-footer li::before {
  counter-increment: none;
  content: none;
}

.footer-propos h3 {
  margin-left: 38px;
}

.Coeur-icon {
  color: none;
}

.Coeur-icon:hover {
  color: #FF79DA;
  font-weight: bold;
}

.Coeur-icon::before {
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.delay-0 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.delay-1 {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.delay-2 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

input {
  font-family: 'Roboto';
  background-color: #EAEAEA;
  border: none;
}

.buttonSearchFonction {
  height: 80px;
  width: 300px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  margin-bottom: 30px;
  border-radius: 25px;
  color: black;
  border-radius: 1.25rem;
  background-color: #F6F6F6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #F6F6F6));
  background: linear-gradient(180deg, #F6F6F6 35%);
  -webkit-box-shadow: 2px 3px 8px #5f5858;
          box-shadow: 2px 3px 8px #5f5858;
  counter-reset: section;
}

.buttonFonction__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.iconFonction {
  margin-right: 20px;
}

.buttonSearch {
  height: 50px;
  width: 250px;
  background-color: #FF79DA;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, rgba(255, 121, 218, 0.919503)), to(#9356DC));
  background: linear-gradient(180deg, rgba(255, 121, 218, 0.919503) 35%, #9356DC 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.buttonSearch:hover {
  -webkit-transition: -webkit-transform 1000ms ease-in;
  transition: -webkit-transform 1000ms ease-in;
  transition: transform 1000ms ease-in;
  transition: transform 1000ms ease-in, -webkit-transform 1000ms ease-in;
  -webkit-transition: -webkit-transform 1000ms ease-out;
  transition: -webkit-transform 1000ms ease-out;
  transition: transform 1000ms ease-out;
  transition: transform 1000ms ease-out, -webkit-transform 1000ms ease-out;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
  background-color: #FF79DA;
}

.buttonCommande {
  border-radius: 25px;
  text-transform: uppercase;
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 150px;
  background-color: yellow;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, rgba(255, 121, 218, 0.919503)), to(#9356DC));
  background: linear-gradient(180deg, rgba(255, 121, 218, 0.919503) 35%, #9356DC 100%);
}

@-webkit-keyframes itemAppear {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes itemAppear {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes loader {
  0% {
    visibility: visible;
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    visibility: visible;
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.container {
  max-width: 1200px;
}

body {
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.card {
  text-decoration: none;
  color: initial;
  position: relative;
}

.card.card-item {
  background-color: #99E2D0;
  color: #1b6150;
  padding: .5rem;
  border-radius: .125rem;
  position: absolute;
  margin-top: 1rem;
  right: .50rem;
  margin-right: 180px;
}

.restaurants .images {
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
  height: 12rem;
  width: 100%;
  position: relative;
}

.card.card-item {
  background-color: #99E2D0;
  color: #1b6150;
  padding: .5rem;
  border-radius: .125rem;
  position: absolute;
  margin-top: 1rem;
  right: .50rem;
  margin-right: 20px;
}

.buttonFonction {
  margin-right: 50px;
  margin-left: 30px;
}

.buttonFonction::before {
  counter-increment: compteListe;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffff;
  position: absolute;
  margin-left: -70px;
}

.buttonFonction li::before {
  counter-increment: none;
  content: none;
}

.buttonFonction ol {
  list-style-type: none;
  counter-reset: compteListe;
}

.buttonFonction .reinit {
  counter-reset: compteListe;
}

.buttonFonction li.buttonFonction {
  margin-right: 50px;
  margin-left: 30px;
}

.buttonFonction ol {
  list-style-type: none;
  counter-reset: compteListe;
}

.buttonFonction li::before {
  counter-increment: compteListe;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffff;
  position: absolute;
}

.buttonFonction li.buttonFonction {
  margin-right: 50px;
  margin-left: 30px;
}

.buttonFonction .reinit {
  counter-reset: compteListe;
}

.buttonFonction a {
  color: black;
  text-decoration: none;
}

.buttonFonction .menu__header {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem 0 1rem;
}

.buttonFonction .title-resto {
  margin-left: 20px;
  font-size: x-large;
}

@media (min-width: 1200px) {
  .fonctionnement {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu__title {
    font-family: "Shrikhand", cursive;
  }
  .menu__header {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 2rem 0 1rem;
  }
  .menuItem__header,
  .menuItem__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .resultats-restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    margin-bottom: 20px;
    width: 100%;
  }
  .annonce {
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    width: 40%;
  }
  .card {
    text-decoration: none;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .sousMenus__title {
    text-transform: uppercase;
  }
  .sousMenus__title::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    margin-left: 15px;
    margin-top: 30px;
    left: 1px;
    text-transform: uppercase;
  }
  .menuItem {
    margin-left: 80px;
    margin-right: 80px;
  }
  .menuItem__ok {
    width: 4em;
  }
  .resultats-restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .menuItem__description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .annonce {
    width: 40%;
  }
  .card.card-item {
    background-color: #99E2D0;
    color: #1b6150;
    padding: .5rem;
    border-radius: .125rem;
    position: absolute;
    margin-top: 1rem;
  }
  a {
    color: black;
    text-decoration: none;
  }
  h1 {
    color: black;
  }
}

/*@media Queries*/
@media (max-width: 768px) {
  .resultats-restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu__header {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 2rem 0 1rem;
  }
  .menuItem__description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .menu__title {
    font-family: "Shrikhand", cursive;
  }
  .menuItem__header,
  .menuItem__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .menuItem__description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .sousMenus__title {
    text-transform: uppercase;
  }
  .description-nom {
    line-height: 0.5em;
  }
  .sousMenus__title::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    margin-left: 15px;
    margin-top: 30px;
    left: 1px;
    text-transform: uppercase;
  }
  #titre-principal {
    text-align: center;
    font-size: x-large;
    line-height: 1em;
  }
  #titre-resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 25px;
    font-family: "Shrikhand", cursive;
    margin-right: 15px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  #desc-titre {
    text-align: center;
    font-size: x-large;
    line-height: 1em;
  }
  .px {
    margin-left: 180px;
    margin-right: 10px;
    font-weight: bold;
  }
  .menuItem__icon {
    /*coloris menu__ok*/
    color: #99e2d0;
  }
  .container {
    max-width: 1280px;
  }
  .container__menu {
    margin-top: -60px;
  }
  /* .fa-heart.fa-2x.coeur-menu {
    color: none;
    margin-right: 25px;

  }*/
  .menuItem {
    background-color: #fff;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: .75rem;
    margin: 1rem 0;
    -webkit-box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-animation: itemAppear .6s;
            animation: itemAppear .6s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-fill-mode: none;
            animation-fill-mode: none;
    -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
            animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-transform: scale(0);
            transform: scale(0);
    max-width: 100%;
  }
  .menuItem__header {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .menuItem__title {
    margin: 0;
  }
  .menuItem__description {
    margin: 0;
  }
  .menuItem__px {
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 0.5rem;
  }
  .menuItem__ok {
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
  }
  .menuItem:hover .menuItem__ok {
    margin-right: -1rem;
  }
  .menuItem__wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #ffff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 100px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menuItem__wrapIcon--modifier {
    background-color: brown;
  }
  .menuItem:hover .menuItem__wrapIcon {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .choix-resto {
    height: 80px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    border-radius: 25px;
    color: black;
    border-radius: 1.25rem;
    background-color: #F6F6F6;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #F6F6F6));
    background: linear-gradient(180deg, #F6F6F6 35%);
    -webkit-box-shadow: 2px 3px 8px #5f5858;
            box-shadow: 2px 3px 8px #5f5858;
    cursor: pointer;
  }
  .flexCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    background-color: #EAEAEA;
    -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    position: relative;
  }
  .iconSize {
    width: 50px;
    height: 20px;
  }
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #F6F6F6;
    padding-top: 30px;
  }
  .menu-details {
    margin-left: 10px;
    line-height: 0;
  }
  .img {
    height: 350px;
    background-size: cover;
  }
  .description-resto {
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .fa-utensils {
    margin-right: 10px;
  }
  .accueil {
    position: absolute;
    left: 1rem;
    height: 2rem;
    width: 2rem;
    top: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
  }
  .logo-footer {
    background-image: url(../images/logo/ohmyfood@2x.svg);
    padding-top: 20px;
    font-family: 'Shrikhand';
    line-height: 1.5;
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    margin-left: 20px;
    margin-top: 30px;
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .footer-icon {
    width: 1.2rem;
    margin-right: .5rem;
  }
  .footer-propos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: black;
    color: white;
  }
  .liste-footer {
    width: 150%;
    padding-left: 0;
    list-style-type: none;
    font-family: 'Roboto';
    color: white;
  }
  .footer-propos h3 {
    margin-left: 38px;
  }
}
/*# sourceMappingURL=main.css.map */