@import "./utils/variables";
@import"./utils/layout";
@import"./utils/animation";
@import"./components/component";
@import"./components/searchButton";
@import"./components/orderButton";
@import"./utils/keyframes";



.container {
  max-width: 1200px;
}
body {
  margin: 0px;
  font-family: Roboto, sans-serif;
}
/*icône Paris, Belleville*/
.iconSize {
  width: 50px;
  height: 20px;
}
#titre-principal {

  text-align: center;
  font-size: x-large;
  line-height: 1em;

}
#desc-titre {
  text-align: center;
  font-size: x-large;
  line-height: 1em;
}
/*titre fonctionnement et restaurants*/
.title-resto {
  margin-left: 20px;
  font-size: x-large;
}

/*partie fonctionnement */
.fonctionnement {
  display: flex;
  justify-content: space-around;
}
/*classe restaurants comprenant les titres, images et descriptions*/
.restaurants {
  display: flex;

}
 
.resultats-restaurants {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
/*description restaurant et icône coeur*/
.description-resto {
  margin-left: 10px;
  display: flex;
  margin-right: 30px;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*titre du resto et ville*/
.description-nom {
  line-height: 0.5em;
}
/*div contenant le a l'image, la description et l'icône*/
.annonce {
  margin: 20px;
  background-color: white;
  border-radius: 10px;

}
.menu__title {
  font-family: $font-cursive;
}
/*menu titre resto + icône coeur*/
.menu__header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0 1rem;
}
.menu__title {
  font-family: $font-cursive;
}

.menuItem__header,
.menuItem__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container {
  max-width: 1280px;

  &__menu {
    margin-top: -60px;
  }
}

.restaurants .images {
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
  height: 12rem;
  width: 100%;
  position: relative;

}
/*contient image,a, description resto, position relative pour le positionnemnt de la carte-item nouveau*/
.card {
  text-decoration: none;
  color: initial;
  position: relative;
}
/* item nouveau*/
.card.card-item {
  background-color: $color-tertiary;
  color: #1b6150;
  padding: .5rem;
  border-radius: .125rem;
  position: absolute;
  margin-top: 1rem;
  right: .50rem;
  margin-right: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.menu__header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0 1rem;
}

ul.liste-footer {
  color: black;
  list-style: none;
}


/*nombre 1,2, 3 des boutons fonctionnemnt*/
span.number {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: $color-primary;
  color: #ffffff;
  position: absolute;
  left: -10px;

}

@media (min-width:1200px) {

  

  

  a {
    color: black;
    text-decoration: none;
  }

  .menuItem__header,
  .menuItem__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

 

  
  .annonce {
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    background-color: white;
    border-radius: 10px;
    width: 40%;
  }
  

  .title-resto {
    margin-left: 20px;
  }

  .card {
    text-decoration: none;
  }

  a {
    color: $color;
    text-decoration: none;
  }

  .sousMenus__title {
    text-transform: uppercase;
  }

  .sousMenus__title::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    margin-left: 15px;
    margin-top: 30px;
    left: 1px;
    text-transform: uppercase;
  }

  .menuItem {
    margin-left: 80px;
    margin-right: 80px;
  }

  .menuItem__ok {
    width: 4em;

  }

  

  .menuItem__description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .annonce {
    width: 40%;
    flex-grow: 1;
    padding: 10px;
  }

  .card.card-item {
    background-color: #99E2D0;
    color: #1b6150;
    padding: .5rem;
    border-radius: .125rem;
    position: absolute;
    margin-top: 1rem;
  }

  a {
    color: black;
    text-decoration: none;
  }

  h1 {

    color: $color;
  }

  .liste-footer {
    width: 150%;
    padding-left: 0;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    color: white;
  }

}

@media (min-width:768px) {

  a {
    background-color: transparent;
    color: black;
    text-decoration: none;
  }

  .title-resto {
    margin-left: 20px;
  }

  .annonce {
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    flex-grow: 1;
    width: -moz-available;
  }
  /*sous-menus entrées, plats, desserts*/
  .sousMenus__title {
    text-transform: uppercase;
  }
/* surlignemnt vert avec taille définie sous les sous-menus*/
  .sousMenus__title::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    margin-left: 15px;
    margin-top: 30px;
    left: 1px;
    text-transform: uppercase;
  }

}

/*@media Queries*/
@media (max-width:768px) {

  .title-resto {
    margin-left: 20px;
  }

  .resultats-restaurants {

    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .menuItem__description {

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  

  .sousMenus__title {
    text-transform: uppercase;
  }

  .sousMenus__title::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    margin-left: 15px;
    margin-top: 30px;
    left: 1px;
    text-transform: uppercase;
  }

  .annonce {

    width: initial;
    padding: 15px;
  }

  #titre-resto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    font-family: $font-cursive;
    margin-right: 15px;
    align-items: baseline;
  }

  .prix {
    margin-left: 180px;
    margin-right: 10px;
    font-weight: bold;
  }
/*icône check menu*/
  .menuItem__icon {

    color: #99e2d0;

  }
  /*section menuItem delay header, prix et confirmation*/

  .menuItem {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    border-radius: .75rem;
    margin: 1rem 0;
    box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, .1);

    cursor: pointer;
    animation: itemAppear .6s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-fill-mode: none;
    animation-timing-function: cubic-bezier(0, 0, 0.58, 1.0);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;

    &__header {
      flex: 1;
    }

    &__title {
      margin: 0;
    }

    &__description {
      margin: 0;

    }

    &__prix {

      font-weight: bold;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-left: 0.5rem;
    }

    &__ok {
      background-color: #99e2d0;
      margin: -1rem -5rem -1rem 1rem;
      width: 4em;
      display: flex;
      align-items: center;
      justify-content: center;
      transition-duration: .5s;
    }

    &:hover &__ok {
      margin-right: -1rem;
    }

    &__wrapIcon {
      height: 1.6rem;
      width: 1.6rem;
      background-color: #ffff;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      transform: rotate(180deg);
      transition-duration: .5s;
      display: flex;

      
    }

    &:hover &__wrapIcon {
      transform: rotate(360deg);
    }
  }

  .choix-resto {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 25px;
    color: black;
    border-radius: 1.25rem;
    background-color: #F6F6F6;
    background: linear-gradient(180deg, #F6F6F6 35%, );
    box-shadow: 2px 3px 8px #5f5858;
    cursor: pointer;
  }

  
/*contient la partie restaurant et s'adapte au responsive en colonne*/
  .restaurants {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    padding-top: 30px;

  }

  /*images des resto pages*/
  .img {
    height: 350px;
    background-size: cover;
  }
/* icône footer*/
  .fa-utensils {
    margin-right: 10px;
  }

  /*flèche retour à l'accueil */
  .accueil {
    position: absolute;
    left: 1rem;
    height: 2rem;
    width: 2rem;
    top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
  }



  .logo-footer {
    background-image: url(../images/logo/ohmyfood@2x.svg);
    padding-top: 20px;
    font-family: 'Shrikhand';
    line-height: 1.5;
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    margin-left: 20px;
    margin-top: 30px;
    filter: invert(100%);
  }
/* propriétés icônes footer*/
  .footer-icon {
    width: 1.2rem;
    margin-right: .5rem;

  }

  .footer-propos {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
  }

  .liste-footer {
    width: 150%;
    padding-left: 0;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    color: white;
  }

  .footer-propos h3 {
    margin-left: 38px;
  }

  a {
    color: black;
    text-decoration: none;
  }

}