input {
  font-family: 'Roboto';
  background-color: #EAEAEA;
  border: none;
}

/*boutons fonctionnement*/
.buttonSearchFonction {
  height: 80px;
  width: 300px;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 30px;
  border-radius: 25px;
  color: black;
  border-radius: 1.25rem;
  box-shadow: 2px 3px 8px #5f5858;
  list-style-type: none;
  position: relative;

  &:hover {
    box-shadow: 3px 4px 9px #5f5858;
    background-color: #F6F6F6;
  }
}

.iconFonction {
  margin-right: 20px;
}